body {
    font-family: Arial, Helvetica, sans-serif;
}

.position__carousel {
    margin-top: 80px;
}

.imagem__principal {
    width: 55px; height: 55px;
}

.sombra {
    text-shadow: 0 0 0.3rem #000, 0 0 0.3rem #000;
}

.footer__div_size {
    width: 300px; height: 350px;
}

.footer__p_align {
    text-align: justify;
}

.bi__tamanho {
    font-size: 50px;
}

.tamanho__imagem {
    width: 320px; height: 444px;
}

.tamanho__imagem_info {
    width: 450px; height: 250px;
}

.box__div_color {
    background-color: rgb(230, 230, 230);
}

@media screen and (max-width: 767px) {
    .div__imagem {
        margin: 0 auto;
    }

}

@media screen and (max-width: 575px) {
    .box__position {
        width: 80%;
    }
    
}

@media screen and (max-width: 455px) {
    .div__imagem_info {
        width: 50%;
    }
    .tamanho__imagem_info {
        width: 300px;
    }
    .tamanho__imagem {
        width: 300px;
    }
}
